<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        p {
            font-size: 25px;
            column-count: 3;
            column-gap: 50px;
            column-rule: dashed;
            column-rule-color: red;
        }
    </style>

</head>

<p>Anne Hathaway (born 1982) is an American actress. The recipient of multiple awards, she was one of the highest-paid actresses in the world in 2015, and her films have earned more than $6.8 billion worldwide. She made her breakthrough in The Princess Diaries (2001). After roles in the 2005 dramas Havoc and Brokeback Mountain, she played an assistant to a fashion magazine editor in The Devil Wears Prada (2006), and a recovering alcoholic in Rachel Getting Married (2008). She starred in the romantic films Bride Wars (2009), Valentine's Day (2010), and Love & Other Drugs (2010), and in the fantasy film Alice in Wonderland (2010). In 2012, Hathaway starred as Catwoman in The Dark Knight Rises and as Fantine in the musical drama Les Misérables, for which she won the Academy Award for Best Supporting Actress. She played a scientist in Interstellar (2014), the owner of an online fashion site in the comedy The Intern (2015), and a haughty actress in the heist film Ocean's 8 (2018).</p>

<body>
</body></html>