<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        #container{
            border: solid 10px blue;
            overflow: auto;
        }
        ul{
            float: left;
            width: 20%;
            padding: 20px;
        }
        main{
            width: 80%;
            float: right;
        }
        section{
            border: solid 5px lightblue;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="container">
        <ul>
            <li>game</li>
            <li>friends</li>
            <li>play</li>
        </ul>
        <main>
            <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus expedita commodi, unde corrupti suscipit. Dolorum similique explicabo cupiditate. Cumque, eum aperiam. Reiciendis dolor, debitis consequatur nostrum praesentium quae repudiandae quas.</section>
            <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ratione, magnam dignissimos dolorem assumenda recusandae repudiandae odit, illum accusantium, quos iure tenetur. Veritatis velit soluta quasi, officiis id, dolore exercitationem!</section>
            <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum obcaecati numquam dignissimos repellat aspernatur. Accusantium fugit dolorem laborum voluptatum facere, soluta, veritatis ratione esse molestias nostrum culpa, cumque quos!</section>
        </main>
    </div>
</body>
</html>