<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #container {
            width: 600px;
            height: 400px;
            border: solid;
        }

        #i1,
        #i2 {
            width: 300px;
            height: 200px;
            display: inline-block;
        }

        #i1 {
            background-color: blue;
        }

        #i2 {
            background-color: purple;
            margin-left: -4px;
        }
    </style>
</head>

<body>

    <div id="container">
        <div id="i1"></div>
        <div id="i2"></div>
    </div>

</body></html>